.slider{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel{
    display: flex;
    width: 1200px;
    height: 560px;
    position: relative;

}
.slide{
    border-radius: 1rem;
    box-shadow: 0px 0px 7px #666;
    width: 60%;
    height: 90%;
    position: relative;
    left: 2rem;
}
.slide-hidden{
    display: none;
}
.name{
    width: 60%;
    height: 90%;
    padding: 13px;
    position: relative;
    top: 7.5rem;
    left: 3rem;
    font-size:2rem;
    font-weight: bolder;
    color: rgb(249, 115, 22);
}
.name-hidden{
    display: none;
}
.description{
    font-size: 15px;
    color: rgb(71, 85, 105);
    margin-top: 5px;
}
.rating{
    display: flex;
    margin-top: 10px;
    color: gold;
}
.arrow{
    position: absolute;
    top: 15rem;
    width: 1rem;
    height: 1rem;
    color: white; 
    filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover{
    cursor: pointer;
}
.arrow-left{
    left: 0.5rem;
}
.arrow-right{
    right: 0.5rem;
}
.indicators{
    display: flex;
    position: absolute;
    bottom: 1.75rem;
    left: 39rem;

}
.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.indicator-inactive{
    background-color: grey;
}