.testimonial{
    padding-top: 30px;
    padding-bottom: 30px;
}
.Lrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    margin-left: 110px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0px;
    color: #555;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}