@tailwind base;
@tailwind components;
@tailwind utilities;

.Box{
    display: flex;
    margin: 100px;
}

.sub-Box{
    height: 400px;
    width: 400px;
    background: linear-gradient(to right,lightgray,darkorange);
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}